body{

background:#0b0b0b;
color:white;
font-family:Arial;
margin:0;

}

header{

background:black;
padding:20px;
text-align:center;
border-bottom:1px solid #D4AF37;

}

nav a{

color:#D4AF37;
margin:15px;
text-decoration:none;

}

.hero{

height:500px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

background:url("sushi-banner.jpg");
background-size:cover;

}

button{

background:#D4AF37;
border:none;
padding:12px 25px;
font-weight:bold;
cursor:pointer;

}

.menu{

padding:50px;

}

.card{

background:#1c1c1c;
padding:20px;
margin:20px;
border:1px solid #D4AF37;

}

.promo{

background:#111;
text-align:center;
padding:50px;

}

footer{

background:black;
padding:30px;
text-align:center;

}